http-server/ProvisioningWSService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://provisioning.idm.shenhua.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://provisioning.idm.shenhua.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://provisioning.idm.shenhua.com">
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://provisioning.idm.shenhua.com/xsd">
			<xs:complexType name="UserEntity">
				<xs:sequence>
					<xs:element minOccurs="0" name="departmentName" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="departmentNum" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="displayIndex" nillable="true" type="xs:integer"/>
					<xs:element minOccurs="0" name="empNumber" nillable="true" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extensions" nillable="true" type="ax21:KeyValues"/>
					<xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="isBywork" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="mail" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="orgCode" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="orgName" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="PID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="passportID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="sex" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="telephone" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="titleName" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="userStatus" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="userType" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="KeyValues">
				<xs:sequence>
					<xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="OperationResult">
				<xs:sequence>
					<xs:element minOccurs="0" name="requestID" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="returnCode" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="returnFlag" type="xs:boolean"/>
					<xs:element minOccurs="0" name="returnMsg" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:ax22="http://provisioning.idm.shenhua.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://provisioning.idm.shenhua.com">
			<xs:import namespace="http://provisioning.idm.shenhua.com/xsd"/>
			<xs:element name="addAccount">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="requestID" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="userEntity" nillable="true" type="ax22:UserEntity"/>
						<xs:element minOccurs="0" name="timeStamp" nillable="true" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addAccountResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="ax22:OperationResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="changePassword">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="requestID" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="timeStamp" nillable="true" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="changePasswordResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="ax22:OperationResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteAccount">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="requestID" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="timeStamp" nillable="true" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="deleteAccountResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="ax22:OperationResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="modifyAccount">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="requestID" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="userEntity" nillable="true" type="ax22:UserEntity"/>
						<xs:element minOccurs="0" name="timeStamp" nillable="true" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="modifyAccountResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="ax22:OperationResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="restoreAccount">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="requestID" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="timeStamp" nillable="true" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="restoreAccountResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="ax22:OperationResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="suspendAccount">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="requestID" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="timeStamp" nillable="true" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="suspendAccountResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="ax22:OperationResult"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="searchAccount">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="requestID" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="userEntity" nillable="true" type="ax22:UserEntity"/>
						<xs:element minOccurs="0" name="timeStamp" nillable="true" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="searchAccountResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:UserEntity"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="suspendAccountRequest">
		<wsdl:part name="parameters" element="ns:suspendAccount"/>
	</wsdl:message>
	<wsdl:message name="suspendAccountResponse">
		<wsdl:part name="parameters" element="ns:suspendAccountResponse"/>
	</wsdl:message>
	<wsdl:message name="modifyAccountRequest">
		<wsdl:part name="parameters" element="ns:modifyAccount"/>
	</wsdl:message>
	<wsdl:message name="modifyAccountResponse">
		<wsdl:part name="parameters" element="ns:modifyAccountResponse"/>
	</wsdl:message>
	<wsdl:message name="addAccountRequest">
		<wsdl:part name="parameters" element="ns:addAccount"/>
	</wsdl:message>
	<wsdl:message name="addAccountResponse">
		<wsdl:part name="parameters" element="ns:addAccountResponse"/>
	</wsdl:message>
	<wsdl:message name="changePasswordRequest">
		<wsdl:part name="parameters" element="ns:changePassword"/>
	</wsdl:message>
	<wsdl:message name="changePasswordResponse">
		<wsdl:part name="parameters" element="ns:changePasswordResponse"/>
	</wsdl:message>
	<wsdl:message name="searchAccountRequest">
		<wsdl:part name="parameters" element="ns:searchAccount"/>
	</wsdl:message>
	<wsdl:message name="searchAccountResponse">
		<wsdl:part name="parameters" element="ns:searchAccountResponse"/>
	</wsdl:message>
	<wsdl:message name="deleteAccountRequest">
		<wsdl:part name="parameters" element="ns:deleteAccount"/>
	</wsdl:message>
	<wsdl:message name="deleteAccountResponse">
		<wsdl:part name="parameters" element="ns:deleteAccountResponse"/>
	</wsdl:message>
	<wsdl:message name="restoreAccountRequest">
		<wsdl:part name="parameters" element="ns:restoreAccount"/>
	</wsdl:message>
	<wsdl:message name="restoreAccountResponse">
		<wsdl:part name="parameters" element="ns:restoreAccountResponse"/>
	</wsdl:message>
	<wsdl:portType name="ProvisioningWSServicePortType">
		<wsdl:operation name="suspendAccount">
			<wsdl:input message="ns:suspendAccountRequest" wsaw:Action="urn:suspendAccount"/>
			<wsdl:output message="ns:suspendAccountResponse" wsaw:Action="urn:suspendAccountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="modifyAccount">
			<wsdl:input message="ns:modifyAccountRequest" wsaw:Action="urn:modifyAccount"/>
			<wsdl:output message="ns:modifyAccountResponse" wsaw:Action="urn:modifyAccountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addAccount">
			<wsdl:input message="ns:addAccountRequest" wsaw:Action="urn:addAccount"/>
			<wsdl:output message="ns:addAccountResponse" wsaw:Action="urn:addAccountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="changePassword">
			<wsdl:input message="ns:changePasswordRequest" wsaw:Action="urn:changePassword"/>
			<wsdl:output message="ns:changePasswordResponse" wsaw:Action="urn:changePasswordResponse"/>
		</wsdl:operation>
		<wsdl:operation name="searchAccount">
			<wsdl:input message="ns:searchAccountRequest" wsaw:Action="urn:searchAccount"/>
			<wsdl:output message="ns:searchAccountResponse" wsaw:Action="urn:searchAccountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="deleteAccount">
			<wsdl:input message="ns:deleteAccountRequest" wsaw:Action="urn:deleteAccount"/>
			<wsdl:output message="ns:deleteAccountResponse" wsaw:Action="urn:deleteAccountResponse"/>
		</wsdl:operation>
		<wsdl:operation name="restoreAccount">
			<wsdl:input message="ns:restoreAccountRequest" wsaw:Action="urn:restoreAccount"/>
			<wsdl:output message="ns:restoreAccountResponse" wsaw:Action="urn:restoreAccountResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ProvisioningWSServiceSoap12Binding" type="ns:ProvisioningWSServicePortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="modifyAccount">
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="suspendAccount">
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addAccount">
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="changePassword">
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="searchAccount">
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="deleteAccount">
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="restoreAccount">
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ProvisioningWSService">
		<wsdl:port name="ProvisioningWSServiceHttpSoap12Endpoint" binding="ns:ProvisioningWSServiceSoap12Binding">
			<soap12:address location="http://10.212.172.39:8080/IDMServices/ProvisioningWSService/"/>
		</wsdl:port>
	</wsdl:service>
	<wsdl:documentation>ProvisioningWSService</wsdl:documentation>
</wsdl:definitions>
